body {	margin: 0;	padding:0;}
span{font-family: "微软雅黑","微软雅黑";color:#ffffff;font-weight: bold;}

#center {width: 520px; height: 580px; position: absolute;top:50%;left:50%; margin-top: -290px;margin-left: -260px; overflow: hidden;}
.logo { text-align: center; border-bottom: 1px solid #ffffff; margin:0 auto;}


.con { width:504px; height:348px; background:#ffffff; margin:0 auto;margin-top:20px; }
table{ width:380px !important; margin:0 auto !important; padding-top:20px;}
td{ padding-top:25px;}

.asd{ width:100px !important;}
.asd span{ font-size:14px; color:#333333; display:block; width:80px;}
.inp03 a {  color:#ffffff; text-decoration:none;}
.inp03 a:hover { color:#ffffff; text-decoration:none;}
.bg input{ width:200px; height:30px; line-height:30px; padding-left:10px; border: solid 1px #e1e1e1; }
.bg01{ width:200px; position:relative;}
.bg01 input{ width:110px; height:30px; line-height:30px; border: solid 1px #e1e1e1;  position: absolute; bottom:2px;}
.bg01 img{ position:relative; left:120px;}
.bg02{position: relative; left:10px; width:70px; vertical-align: middle;}


.bg02 a{ text-decoration:none;font-size:16px; color:#e92f21;vertical-align: middle;}
.bg02 img{ position:relative; left:0px; top:1px; width:60px;vertical-align: middle;}
.login{ width:260px; height:46px; line-height:46px;background:#009900; margin:30px auto; border-radius:5px; text-align:center;}
.login a{ text-decoration:none; font-size:24px; color:#ffffff; font-weight:bold;letter-spacing:8px;}


@media screen and (max-width:600px){  

#center {width: 100%; height: auto; position: relative;top:0;left:0; margin: 0 auto; }

.con { width:100%; height:auto; background:#ffffff; margin:0 auto;margin-top:20px; padding-bottom: 20px; }
table{ width:90% !important; margin:0 auto !important; padding-top:20px;}
td{ padding-top:10px;}
.asd{ width:100px !important; vertical-align: text-top; padding-top: 20px;}
.asd span{ width:100%;}
.bg input{ width:90%; height:30px; line-height:30px; padding-left:10px; border: solid 1px #e1e1e1; }
.bg01{ width:auto; height: auto; overflow: hidden;  position: relative; padding-bottom: 50px;}
.bg01 input{ width:90%; max-width: 120px; height:30px; line-height:30px;padding-left:10px; border: solid 1px #e1e1e1;  position: relative; bottom:0;}

.bg02{ display: block; position: absolute; left:0; top: 50px; width:auto;vertical-align: middle; }
.bg02 img{ position:relative;display: inline-block; left:0; top:0px; width:60px;vertical-align: middle;}
.bg02 a{ text-decoration:none;font-size:16px; color:#e92f21; vertical-align: middle;}
.login{ width:260px; height:46px; line-height:46px;background:#009900; margin:30px auto; border-radius:5px; text-align:center;}
.login a{ text-decoration:none; font-size:24px; color:#ffffff; font-weight:bold;letter-spacing:8px;}

}
.container .top-bar {
	position: relative;
	width: 100%;
	height: 48px;
	line-height: 48px;
	overflow: hidden;
	background-color: #2d3033
}
.container .top-bar .wrap-login {
	float: right;
	margin-right: 40px;
	color: #fff;
	cursor: pointer
}

.container .top-bar .wrap-login a {
	display: inline-block;
	padding: 0 20px;
	border: none;
	font-size: 13px;
	text-decoration: none;
	color: #a8adb2
}

.container .top-bar .wrap-login a:hover {
	color: #fff;
	background-color: #404346
}